*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.logo{
    height: 40px;
    margin-left: 60px;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   margin-right: 450px;
   position: relative;
   left: 90px;
}
.list-item{
    padding: 20px;
    font-family: poppins;
    color: #758283;
}
li:first-child{
    font-weight: 400;
    color: #000000;
}
.nav-button{
    padding: 8px 15px;
    border-radius: 10px;
    margin-right: 60px;
    font-family: poppins;
    font-weight: 500;
    font-size: 13px;
    /* background-color: #6d82dfe0; */
    background-color: #383CC1;
    border: none;
    color: #ffffff;
    cursor: grab;
    /* text-align: center; */
}
.banner-container{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.heading-text{
    margin-top: 90px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 60px;
    color: #120E43;
    line-height: 70px;
}
span{
    /* color: #6d82dfe0; */
    color: #383CC1;
}
.description{
    font-family: poppins;
    text-align: start;
    margin-top: 13px;
    font-size: 13px;
    color: #758283;
}
.container{
    margin-left: 20px;
}
.btn{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: grab;
}

.bannerContainer-left{
    margin-left: 80px;
}